.env
.vercel
/__pycache__
/app/__pycache__
/app/controllers/__pycache__
/app/core/__pycache__
/app/middleware/__pycache__
/app/models/__pycache__
/app/module/__pycache__
/app/schemas/__pycache__
/app/services/__pycache__
/.idea
